body{
    background: #BDBDBD;
}

.container-members{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

thead {
    background-color: rgba(197, 239, 247, 1);
}

.table thead th{
    border: none;
}

.table td, .table th{
    border: none;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #ffffff;
}
.table-striped tbody{
    background-color: rgba(197, 239, 247, 1);
}