        <div class="container bg-light">
            <div class="container">
                    <div class="row mb-3">
                    <div><h3>Contact</h3></div>
                </div>
                <div class="row mb-3">
                    <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisqu nisl nisl consectetur. Fursce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="container">
                    <form class="bg-light">
                        <div>
                            <div class="row mb-3">
                                <label for="inputEmail1" class="col-sm-2 col-form-label">Your E-mail</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail1" placeholder="Your email">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputTextl" class="col-sm-2 col-form-label">Your message</label>
                                <div class="col-sm-10">
                                    <input type="textarea" class="form-control" id="inputTextl" rows="3" placeholder="Please enter your message here...">
                                </div>
                            </div>
                        </div>
                            <div class="row mb-3"></div>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="row mb-3"></div>
                    </form>
                </div>
            </div>
        </div>
