<div class="container">
    <div class="row">
           <div class="col-12">
                 <h1>This first heading <span class="text-secondary">Will catch your eye</span></h1>
          </div>
    </div>
    <div class="row">
           <div class="col-8">
               <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecteur. Fusce dabpibus, tellus ac cursus commodo.</p>
           </div>
           <div class="col-4">
               <img src="https://cdn2.iconfinder.com/data/icons/heroes-villains-vol-2-colored-1/100/Walter_White-512.png"; width="400" height="300">
          </div>
    </div>
</div>
