<!-- your html code here -->
<div class="row vh-25  m-0 p-5 bg-light d-flex align-items-center">
    <div class="col-4 ">
        <img src="./assets/img/2.jpg" class="img-fluid h-75 mx-auto rounded-circle d-block" alt="Keyboard">
    </div>
    <div class="col-8">
        <h2>
            The Second Heading
            <span class="text-secondary">Is Pretty Cool Too.</span>
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique nisi
             repellendus cumque ab. Totam harum quae modi, praesentium minima magnam, eveniet 
             nulla vel ad placeat natus dolores ea voluptatem.
        </p>
    </div>
</div>
