<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>tagline/title>
</head>
<body>
    <div class="main-container">
        <div class="header"></div>
        <div class="box">
            <div class="title1">nsbsmnb</div>
            <div class="title2">dnvsn</div>
        </div>
    </div>
</body>
</html>
  
<p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p>